.button {
    font-family: var(--main-font);
    font-weight: var(--font-weight-xl);
    padding: var(--space-s) calc(var(--space-l) * 1.5);
    height: auto;
    line-height: 1.5;
    font-size: var(--font-size-s);
    --icon-size: 16px;
    min-height: 48px;
}

.button img {
    width: var(--icon-size);
    height: var(--icon-size);
}

.button_solid {
    color: var( --on-surface-color)
}

.button__light {
    color: var(--thirdly-text-color);
    text-decoration: underline;
}

.button_filled {
    --min-width: 150px;
    min-width: var(--min-width);
}

.button_faded {
    background-color: var(--on-surface-color);
    color: var(--secondary-text-color);
}

.button_primary_faded {
    background-color: var(--on-surface-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.button_primary_solid_disabled {
    background-color: var(--disabled-primary-color);
    color: var(--on-surface-color);
    border-color: var(--disabled-primary-color);
}

.button_link {
    min-height: auto;
    font-weight: var(--font-weight-m);
    padding: 0 var(--space-xs);
    color: var(--thirdly-text-color);
}

.button_primary_link {
    color: var(--primary-color)
}
