.taskFeedback__open {
    padding: var(--space-xs);
    width: calc(16px + var(--space-s) * 2);
    min-width: 0;
}

.taskFeedback__feedback {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

.taskFeedback__checkbox > span {
    font-weight: var(--font-weight-s);
}

.taskFeedback__aboutFeedback {
    color: var(--thirdly-text-color) !important;
}

.taskFeedback__checkbox > span,
.taskFeedback__aboutFeedback,
.taskFeedback__textarea textarea {
    font-size: var(--font-size-s);
}
