@keyframes showUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showDown {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showScale {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(100%);
    }
}

@keyframes showFade {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.trainingResult {
    display: grid !important;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 70px calc(100vh - 140px - var(--page-padding-m) * 2 - var(--space-m) * 2) 70px;
    grid-template-areas:
            "logo content a"
            "b content c"
            "d content g";
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: var(--space-m);
    max-height: 100vh;
    overflow: hidden;
}

.trainingResult__logoContainer {
    cursor: pointer;
    grid-area: logo;
}

.trainingResult__contentContainer {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    gap: var(--space-l);
    width: 100%;
    height: 100%;
    max-width: var(--learning-center-block-width);
    position: relative;
}

.trainingResult__result {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-m);
}

.trainingTask__rightClicker {
    width: 28px !important;
    height: 28px !important;
}

.trainingResult__resultTitle {
    color: var(--text-color);
    text-align: center;
    font-family: var(--main-font);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-xxl);
    animation: showUp 1s;
}

.trainingResult__resultDescription {
    font-family: var(--main-font);
    font-size: var(--font-size-m);
    text-align: center;
    animation: showUp 1.3s forwards;
}

.trainingResult__result__container {
    position: absolute;
    right: 0;
    top: 0;
}

.trainingResult__result__container__pincode {
    position: absolute;
    left: 0;
    top: 0;
}

.trainingResult__resultImage {
    max-height: 100%;
    max-width: 100%;
    height: calc(100% - 200px);
    object-fit: cover;
}

.trainingResult__resultCard {
    background-color: var(--accent-color);
    color: var(--accent-color);
}

.lottieContainer {
    max-height: 100%;
    max-width: 100%;
    height: calc(100% - 200px);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.lottie__image {
    z-index: 2;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.button {
    animation: showScale 1s;
}
