@keyframes showUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showDown {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showFade {
    from { opacity: 0 }
    to { opacity: 1 }
}

.trainingResult {
    display: grid !important;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 70px calc(100vh - 140px - var(--page-padding-m) * 2 - var(--space-m) * 2) 70px;
    grid-template-areas:
            "logo content a"
            "git content habr"
            "sber content g";
    align-items: center ;
    justify-content: center;
    justify-items: center;
    gap: var(--space-m);
    max-height: 100vh;
    overflow: hidden;
}

.trainingResult__logoContainer {
    cursor: pointer;
    grid-area: logo;
}

.trainingResult__contentContainer {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    gap: var(--space-l);
    width: 100%;
    height: 100%;
    max-width: var(--learning-center-block-width);
    position: relative;
}

.trainingResult__result {
    height: calc(100% - 90px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-m);
}

.trainingResult__resultTitle {
    color: var(--text-color);
    text-align: center;
}



.trainingPage__leftInfoContainer {
    grid-area: git;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.trainingPage__habrQR {
    grid-area: habr;
    display: flex;
    height: 100%;
    align-items: end;
}

.trainingTask__logoContainer {
    cursor: pointer;
    justify-self: start;
}

.trainingTask__bySberAI {
    z-index: 1;
    grid-column: 1;
    height: auto;
    align-self: start;
}

.trainingResult__resultDescription {
    font-family: var(--main-font);
    font-size: var(--font-size-m);
    text-align: center;
}

.trainingResult__result__container {
    position: absolute;
    right: 0;
    top: 0;
}

.trainingResult__resultImage {
    max-height: 100%;
    max-width: 100%;
    height: calc(100% - 90px);
}

.trainingResult__resultCard {
    background-color: var(--accent-color);
    color: var(--accent-color);
}
