.afkPage {
    position: relative;
    color: #fff;
    background: #69BBEC;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.afkPage__gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}

.afkPage__logo {
    z-index: 100;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.afkPage__tap {
    font-size: 32px;
    color: white;
    z-index: 100;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}
