.bySberAI {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    align-items: center;
    max-width: 350px;
    padding: var(--space-m);
}

.bySberAI__title {
    font-family: var(--main-font);
    font-weight: var(--font-weight-m);
    font-size: var(--font-size-xs);
    text-align: center;
}

.bySberAI__logo {
    width: 110px;
}

@media(max-width: 1300px){
    .bySberAI__logo{
        width: 90px;
    }
}
