.fact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-l);
    width: 390px;
    height: 250px;
    min-width: 370px;
    border-radius: var(--border-radius-m);
    box-sizing: border-box;
}

.fact__factContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fact__source {
    width: 100%;
    font-size: calc(var(--font-size-s)*0.69);
    font-weight: var(--font-weight-l);
    color: var(--on-surface-opacity-color);
}

.fact__title {
    text-align: center;
    font-size: calc(var(--font-size-xl) * 1.1);
}

.fact__description {
    text-align: center;
    font-size: var(--font-size-m);
    white-space: pre-line;
}

.fact__blue {
    background: rgba(0, 177, 255, 0.6);
}

.fact__blue .fact__title,
.fact__blue .fact__description {
    color: white;
}

.fact__grape {
    background: rgba(145, 82, 173, 0.6);
}

.fact__grape .fact__title,
.fact__grape .fact__description {
    color: white;
}

.fact__green {
    background: rgba(0, 236, 200, 0.4);
}

.fact__green .fact__title,
.fact__green .fact__description {
    color: white;
}
