@keyframes showUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showDown {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showFade {
    from { opacity: 0 }
    to { opacity: 1 }
}

.learningStartPage {
    display: grid !important;
    grid-template-columns: 300px 1fr 300px !important;
    grid-template-rows: 70px calc(100vh - 140px - var(--page-padding-m) * 2 - var(--space-m) * 2) 70px !important;
    grid-template-areas:
            "logo content a"
            "b content c"
            "d content e" !important;
    align-items: center !important;
    justify-content: center !important;
    justify-items: center !important;
    gap: var(--space-m) !important;
    max-height: 100vh !important;
    overflow: hidden !important;
}

.logo {
    cursor: pointer;
    grid-area: logo;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: start;
    gap: var(--space-l);
    width: 100%;
    height: 100%;
    max-width: var(--learning-center-block-width);
}
