.form {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    margin-bottom: 20px;
    padding: 0 43px;
}

.select {
    align-items: center;
}

.select__label {
    font: var(--main-font);
    width: 250px;
    height: 23px;
    font-size: var(--font-size-s);
}

.select__chip {
    min-width: 40px;
    height: 120%;
    padding: 2px 3px;
    background-color: var(--on-surface-color);
    border: 2px solid var(--primary-color)
}

.select__value li[data-selected="true"] {
    background-color: var(--light-primary-color);
}
