.qrcode {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-m);
}

.qrcode__image {
    height: 100%;
}

.qrcode__description {
    font-size: var(--font-size-xs);
    line-height: var(--font-size-xs);
    font-weight: var(--font-weight-m);
    text-align: center;
}
