@keyframes showDown {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.startLearning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-l);
    max-width: 800px;
    width: 100%;
    height: auto;
    animation: showDown 0.5s ease-in;
}

.image {
    flex-shrink: 1;
    height: 100% !important;
}

.startLearning__title {
    font-family: var(--main-font);
    font-size: var(--font-size-xl);
    text-align: center;
    line-height: var(--font-size-xl);
}

.startLearning__description {
    font-family: var(--main-font);
    font-size: var(--font-size-l);
    text-align: center;
    color: var(--disabled-button-color);
    font-weight: var(--font-weight-m);
}

.startLearning__tap {
    font-family: var(--main-font);
    font-weight: var(--font-weight-l);
    height: auto;
    line-height: 1.5;
    color: var(--primary-color);
    font-size: var(--font-size-xl);
    z-index: 100;
    display: flex;
}

.startLearning__tap__clicker {
    width: 32px !important;
    height: 32px !important;
}
